<!DOCTYPE html>
<html>
  <head>
    <title>Express App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <p>From users route</p>
  </body>
</html>
